<template name="billingOverview">
  <div class="panel panel-default billing-module">
    <div class="panel-heading">
      <h3 class="panel-title">Billing Overview</h3>
    </div>
    <div class="panel-body">
      <ul class="list-group">
        <li class="list-group-item bm-block clearfix">
          <span class="bm-block-label">Current Plan</span>
          <div class="bm-block-content">
            <span class="plan-name-quota"><strong>Small</strong> &mdash; 3 of 5 lists used</span>
            <div class="usage-bar">
              <div class="used"></div>
            </div>
          </div>
          <a href="{{pathFor 'billingPlan'}}" class="btn btn-small btn-default pull-right">Change Plan</a>
        </li>
        <li class="list-group-item bm-block clearfix">
          <span class="bm-block-label">Payment</span>
          <div class="bm-block-content">
            <span><strong>Visa</strong> &mdash; 5512 (Expires 6/2016)</span>
            <span>Next payment due: <strong>June 1st, 2015</strong></span>
            <span>Amount: <strong>$15.00</strong></span>
          </div>
          <a href="{{pathFor 'billingCard'}}" class="btn btn-small btn-default pull-right">Update Card</a>
        </li>
      </ul>
    </div>
  </div>
</template>
