<template name="billingOverview">
  <div class="panel panel-default billing-module">
    <div class="panel-heading">
      <h3 class="panel-title">Billing Overview</h3>
    </div>
    <div class="panel-body">
      <ul class="list-group">
        <li class="list-group-item bm-block clearfix">
          <span class="bm-block-label">Current Plan</span>
          <div class="bm-block-content">
            <span class="plan-name-quota"><strong>{{capitalize plan.subscription.plan.name}}</strong> &mdash; {{plan.subscription.plan.used}} of {{plan.limit}} used</span>
            <div class="usage-bar">
              <div class="used" style="width:{{percentage plan.subscription.plan.used plan.limit}};"></div>
            </div>
          </div>
          <a href="{{pathFor 'billingPlan'}}" class="btn btn-small btn-default pull-right">Change Plan</a>
        </li>
        <li class="list-group-item bm-block clearfix">
          <span class="bm-block-label">Payment</span>
          <div class="bm-block-content">
            <span><strong>{{plan.subscription.payment.card.type}}</strong> &mdash; {{plan.subscription.payment.card.lastFour}}</span>
            <span>Next payment due: <strong>{{epochToString plan.subscription.payment.nextPaymentDue}}</strong></span>
            <span>Amount: <strong>{{plan.amount}}</strong></span>
          </div>
          <a href="{{pathFor 'billingCard'}}" disabled="disabled" class="btn btn-small btn-default pull-right">Update Card</a>
        </li>
      </ul>
    </div>
  </div>
</template>
