<template name="todoList">
  <div class="page-header clearfix">
    <div class="row">
      <div class="col-xs-12 col-sm-8">
        <div class="form-group">
          <input type="text" disabled="disabled" class="form-control" name="listName" value="{{name}}" placeholder="List Name">
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <a href="#" class="btn btn-danger btn-block pull-right">Delete List</a>
      </div>
    </div>
  </div>
  <div class="list-group">
    <a href="#" class="list-group-item"><input type="checkbox"> This is a fake todo item</a>
    <a href="#" class="list-group-item"><input type="checkbox"> This is a fake todo item</a>
    <a href="#" class="list-group-item"><input type="checkbox"> This is a fake todo item</a>
    <a href="#" class="list-group-item"><input type="checkbox"> This is a fake todo item</a>
    <a href="#" class="list-group-item"><input type="checkbox"> This is a fake todo item</a>
  </div>
</template>
